body {
  #root {
    height: 100%;
    .ant-layout {
      height: 100%;
    }
    .logo {
      height: 64px;
      padding: 5px;
      background-color: #fff;
      border-bottom: 2px solid pink;
      div {
        background: url(../../static/img/logo.PNG) center;
        background-size: inherit;
        height: 54px;
      }
    }
  }
}
.ant-menu {
  height: calc(100% - 64px)
}
.personal {
  float: right;
  margin-right: 30px;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

