.overview {
  height: 150px;
  border-radius: 10px;
}
.overview.one {
  background-color: #ea80fc;
}
.overview.two {
  background-color: #e040fb;
}
.overview.three {
  background-color: #d500f9;
}
.overview.four {
  background-color: #aa00ff;
}